header {
  height: auto;
  background: #fff;
  border-bottom: 1px solid #bbb;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  top: 0;
  .header-top {
    background-color: #1841B1;
    color:#fff;
    font-size: 12px;
    .header-content {
      height: 40px;
    }
  }
  .header-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 40px;
    .header-item {
      align-items: center;
      column-gap: 10px;
      display: flex;
      justify-content: space-between;
      a {
        color: #fff;
        &:hover {
          color: #fff;
          transition: all 0.5s ease;
          text-decoration: underline;
        }
      }
      .user-logged {
        background-color: #FBE8B5;
        border-radius: 31px;
        width: 31px;
        height: 29px;
        float: left;
        text-align: center;
        margin-right: 5px;
        .icon {
          float: none;
          line-height: 27px;
        }
      }
      .header-dropdown {
        line-height: 32px;
        
        .header-dropdown-content-acc {
          top: 42px;
          display: none;
          position: absolute;
          width: 40%;
          z-index: 10;
          max-width: 200px;
          .header-dropdown-column {
            a {
              padding-left: 10px;
              margin-right: 0;
              transition: 0.2s;
              &:hover {
                transition: background-color 2s ease;
                background: #ecba3c;
                text-decoration: none;
              }
            }
          }
        }
        &:hover {
          .header-dropdown-content-acc {
            display: block;
            transition: display 2s ease;
          }
        }
      }
      
      &.brand {
        a {
          img {
            width: 123px;
          }
        }
      }
      &.fieldSearch{
        width: 65%;
        justify-content: flex-start;
        border: 1px solid #1841B1;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        padding: 5px 0 5px 10px;
        margin: 0;
        @media(max-width:1121px) {
          /* display: none; */
          width: 50%;
        }
        input, button {
          height: 25px;
        }
        input{
          width: calc(100% - 50px);
          color: #1841B1;
        }
        button{
          width: 48px;
          border-left: 1px solid #1841B1;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 19px;
          }
        }
      }
      &.shopping-cart {
        border: 1px solid #1841B1;
        border-radius: 31px;
        width: 70px;
        justify-content: center;
        height: 38px;
        img {
          width: 26px;
          float: left;
          margin-right: 5px;
        }
        .shopping-cant {
          color: #1841B1;
          font-size: 13px;
          font-weight: bold;
          line-height: 25px;
        }
      }
    }
  }
  .header-menu {
    border-top: 1px solid #DFDFDF;
    .header-content {
      justify-content: center;
      .header-item {
        line-height: 40px;
        padding: 0 10px;
        a {
          color:#1841B1;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 1px;
          &.news {
            color: #EB4F5C;
          }
        }
        &:hover {
          background-color: #1841B1;
          /* transition: background-color 2s ease; */
          
        a {
            color: #FFFFFF;
            text-decoration: none;
          }
        }
        
        .header-dropdown {
          line-height: 40px;
          .header-dropdown-content{
            a {
              text-transform: capitalize;
              background-color: #FFFFFF;
              font-size: 15px;
              font-weight: 400;
              &.menu {
                color:#EB4F5C;
                .img-content {
                  background-color: #EB4F5C;
                }
                &.menu-books,
                &.menu-libro {
                  color:#EB4F5C;
                  .img-content {
                    background-color: #EB4F5C;
                  }
                }
                &.menu-didacticos,
                &.menu-juego{
                  color:#7489DC;
                  .img-content {
                    background-color: #7489DC;
                  }
                }
                &.menu-toys,
                &.menu-juguete{
                  color:#A2CD99;
                  .img-content {
                    background-color: #A2CD99;
                  }
                }
                &.menu-school,
                &.menu-escolar{
                  color:#663399;
                  .img-content {
                    background-color: #663399;
                  }
                }
                &.menu-bazar {
                  color:#E9DD96;
                  .img-content {
                    background-color: #E9DD96;
                    font-size: 24px;
                  }
                }
              }
              &:hover {
                transition: font-weight 1s ease;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  .header-search {
    margin: 10px auto;
    &.header-content {
      justify-content: space-evenly;
      &.is_logged {
        justify-content: space-between;
      }
    }
    button, a {
      &:hover {
        transition: scale 0.5s ease;
        transform: scale(1.1);
      }
    }
    
  }
}
#busqueda_prod::placeholder{
  color: #1841B1;
}
#busqueda_prod2::placeholder{
  color: #1841B1;
}
.header-dropdown {
  .header-dropdown-content{
    display: none;
    position: absolute;
    width: 40%;
    z-index: 10;
    max-width: 200px;
    margin-left: -10px;
    border: 1px solid #DFDFDF;
  }
  &:hover {
    .header-dropdown-content {
      display: block;
      transition: display 2s ease;
    }
  }
}
.img-content {
  width: 40px;
  /* line-height: 50px; */
  margin-right: 10px;
  text-align: center;
  float: left;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-hide{
  @media(max-width:1121px) {
    display: none;
  }
}
.mobile-items {
  &.icon{
    color: #FFFFFF;
  }
}
.new-in {
  background-color: #EB4F5C;
  color: #FFFFFF;
  border-radius: 2px;
  line-height: 18px;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
}
.hamburguer-content {
  height: auto;
  width: 40px;
  cursor: pointer;
  // display: flex;
  .icon{
    margin: 0 auto;
  }
  .icon-close {
    display: none;
  }
}

.mobile-menu {
  display: none;
  a {
    display: block;
    padding: 15px 0 15px 20px;
    text-align: left;
    font-size: 14px;
    margin: 0;
    color:#1841B1;

    text-transform: uppercase;
    font-weight: bold;
    &.news {
      color: #EB4F5C;
      display: flex;
      .new-in {
        margin-left: 5px;
      }
    }
  }
  .cuenta {
    border-top: 1px solid #7489DC;
    padding: 20px 0;
    a {
      color:#3390ff;
      span {
        padding-left: 0;
      }
    }
    span {
      line-height: 16px;
      padding-left: 15px;
      &.icon {
        color:#3390ff;
        margin-right: 5px;
      }
    }
  }
}