.primary {
  background-color: #446EC9; 
  color: #ffffff;
  .secondary-font {
    color: #F8E9BB;
  }
}
.complementary {
  background-color: #FBE8B5;
  color: #15254D;
  .secondary-font {
    color: #5E8CF0;
  }
}
.christmas {
  position: relative;
  &::before{
    content: '';
    background-image: url(../images/Christmas.png);
    background-image: url(../images/Christmas_1.png);
    background-image: url(../images/Christmas_2.png);
    background-image: url(../images/Christmas_3.png);
    background-image: url(../images/Christmas_4.png);
    background-color: #991F16;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
  }
  .bells,
  .presents {
    display: block;
  }
  &.home {
    .bells-left{
      display: block;
    }
    .bells-right{
      display: block;
    }
  }
}
.three-wise-men{
  background-image: url(../images/stars.png);
  background-color: #322C62;
  .three-kings {
    display: block;
  }
  .shooting-star {
    display: block;
  }
}
.three-kings {
  background-image: url(../images/ThreeKings.png);
  background-image: url(../images/ThreeKings_250.png);
  bottom: 0;
  display: none;
  height: 281px;
  height: 208px;
  left: 15%;
  position: absolute;
  width: 337px;
  width: 250px;
  z-index: 2;
  @media screen and (max-width: 1120px) {
    background-image: url(../images/ThreeKings_200.png);
    height: 167px;
    width: 200px;
  }
  @media screen and (max-width: 700px) {
    background-image: url(../images/ThreeKings_150.png);
    height: 125px;
    width: 150px;
  }
}
.home {
  .three-kings {
    left: 100px;
    bottom: -130px;
    @media screen and (max-width: 1660px) {
      background-image: url(../images/ThreeKings_150.png);
      height: 125px;
      width: 150px;
      left: 0;
    }
    @media screen and (max-width: 1120px) {
      bottom: -75px;
    }
  }
  
  .shooting-star{
    left: 70%;
    top: 0;
  }
  &.christmas {
    background-image: url(../images/lights.png);
    background-color: #952119;
    &::before {
    background-image: url(../images/lights.png);
    }
  }
}
.bells-left {
  background-image: url(../images/bells-left.png);
  display: none;
  width: 123px;
  height: 221px;
  left: -60px;
  //left: 60px;
  position: absolute;
  z-index: 2;
  bottom: -50px;
  @media screen and (max-width: 1660px) {
    background-image: url(../images/bells-left_80.png);
    width: 80px;
    height: 146px;
    left: -14px
  }
  @media screen and (max-width: 1120px) {
    background-image: url(../images/bells-left_40.png);
    width: 40px;
    height: 73px;
    left: -10px;
    bottom: -15px;
  }
}
.bells-right {
  background-image: url(../images/bells-right.png);
  display: none;
  width: 113px;
  height: 216px;
  right: -33px;
 // right: 70px;
  position: absolute;
  z-index: 2;
  top: -30px;
  @media screen and (max-width: 1660px) {
    background-image: url(../images/bells-right_75.png);
    width: 75px;
    height: 143px;
    right: -14px
  }
  @media screen and (max-width: 1120px) {
    background-image: url(../images/bells-right_35.png);
    width: 35px;
    height: 67px;
    right: -10px;
    top: -10px;
  }
}
.theme-background {
  width: 100%;
  height: 130px;
}
.shooting-star {
  background-image: url(../images/ShootingStar.png);
  display: none;
  height: 191px;
  left: 50%;
  position: absolute;
  width: 588px;
  top: 40%;
  @media screen and (max-width: 1120px) {
    background-image: url(../images/ShootingStar_450.png);
    height: 147px;
    width: 450px;
    left: auto;
    right: 0;
  }
  @media screen and (max-width: 700px) {
    background-image: url(../images/ShootingStar_300.png);
    height: 98px;
    width: 300px;
  }
}
.toys {
  position: relative;
  &::before{
    content: '';
    background-image: url(../images/toys.png);
    background-image: url(../images/Juguetes.png);
    background-image: url(../images/Juguetes1.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: .6;
  }
}
.brand-theme {
  background-image: url(../images/D.png);
  background-image: url(../images/D_1.png);
  background-color: #1841B1;
  &.home {
    background-color: #F2F1F1;
    background-image: none;
  }
}

.presents {
  background-image: url(../images/Presents.png);
  background-image: url(../images/Presents_1.png);
  background-image: url(../images/Presents_2.png);
  bottom: 35px;
  display: none;
  height: 123px;
  height: 63px;
  height: 98px;
  left: 50px;
  position: absolute;
  width: 126px;
  width: 62px;
  width: 100px;
  z-index: 1;
}
.bells {
  background-image: url(../images/Bells.png);
  display: none;
  height: 94px;
  right: 40px;
  position: absolute;
  width: 97px;
  top: 10px;
}